#footer {
    background-color: #4d4d4d;
    color: #ffecf3;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    margin-top: auto;
    text-align: center;

}
#footer span i {
    display: inline-block;
    border: 1px solid #ffecf3;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}